{% extends "admin/base.html" %}
{% load i18n static %}
{% block title %}{{ title }} | {{ site_title|default:_('CIG Credential Store') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">CIG Credential Store</a></h1>
{% endblock %}

{% block usertools %}
    {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block nav-global %}
{% endblock %}