{% extends "rest_framework/base.html" %}

{# Override this template in your own templates directory to customize #}
{% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'Home' %}</a> /
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="/logout" aria-expanded="false">Logout</a>
            {% endblock %}