{% extends "rest_framework/base.html" %}
{% load i18n static %}
{% load static %}
{% load i18n %}
{# Override this template in your own templates directory to customize #}
{% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'Home' %}</a> /
                {% endif %}
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href={% url 'rest_framework:logout' %}>Logout</a>
            {% endblock %}